.container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width:50%;
    padding-bottom:160px;
    min-height:100%;
    margin-top: 50px;
  }

  .main-contain{
    position:relative;
  }